<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Réinitialiser le mot de passe</title>
    <style>
      *{text-decoration: none;} .container{ margin: 0 auto; max-width: 500px;
      width: 100%; } .btn-link{ display: inline-block; padding: 10px 20px;
      background-color: #007bff; color: #fff !important; text-decoration: none;
      border-radius: 5px; } img{ width: 30px; border-radius: 50%;}
    </style>
  </head>
  <body>
    <div class="container">
      <img src="https://avatars.githubusercontent.com/u/19819005?v=4" alt="" />

      <h1>{{subject}}</h1>
      <hr />
      <p>Bonjour {{name}},</p>
      <p>Nous avons reçu une requête afin de changer votre mot de passe Authkit.<br />Si vous n'êtes pas à l'origine de cette requête, merci de changer votre mot de passe Authkit immédiatement.</p>

      <a href={{link}} class="btn-link">Réinitialiser le mot de passe</a>

      <h3 style="margin-top: 50px;">
        Vous n'avez pas réclamer ce changement ?
      </h3>
      <p style="margin-bottom: 50px;">
        Si vous n’avez pas demandé de réinitialisation du mot de passe, vous pouvez ignorer cet e-mail.
        <br />
        Votre mot de passe ne sera pas modifié.
      </p>

      <hr />
      <p>Merci,</p>
      <p>L'équipe <b>Authkit</b></p>
      <div>
        <p style="font-size: 0.8rem;">
          Si vous avez de la difficulté à cliquer sur le bouton "Réinitialiser le mot de passe", copiez et collez l’URL ci-dessous dans votre navigateur:
          <br />
          <a href={{link}}>{{link}}</a>
        </p>
      </div>
    </div>
  </body>
</html>